<mat-list role="list">
  <div>
    <div class="profile">
      <div>
        <h2 class="name">Ashique_Kurikkal</h2>
        <h4 class="email">ashique.mkm@gmail.com</h4>
      </div>
      <img class="profile_img" src="https://st2.depositphotos.com/1531183/5770/v/450/depositphotos_57709697-stock-illustration-male-person-silhouette-profile-picture.jpg" alt="profile_img">
    </div>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
    <a href=""><mat-list-item routerLink="/" role="listitem">Dashboard</mat-list-item></a>
    <a href=""><mat-list-item routerLink="/posts" role="listitem">Posts</mat-list-item></a>
    <a href=""><mat-list-item routerLink="/posts" role="listitem">Article</mat-list-item></a>
  </mat-list>
  <!-- <mat-action-list>
    <button mat-list-item > Save </button>
    <button mat-list-item > Undo </button>
  </mat-action-list> -->